# Dasar Pengenalan Python untuk Data Science

**Creator : Gian Antariksa**

Source  : 

Jose Portilla [Python for Data Science and Machinee Learning Bootcamp](https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp/)


Dalam notebook ini hanya membahas dasar penggunaan Python untuk Data Science tetapi tidak dibahas secara mendalam

Notebook ini akan membahas topik dasar :

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Tipe Data

**Angka**

In [3]:
#Penjumlahan
2+2

4

In [4]:
#Perkalian
3*6

18

In [5]:
#Pembagian
1 / 2

0.5

In [6]:
#Perpangkatan
2 ** 4

16

In [8]:
#Sisa bilangan pembagian
5 % 2

1

In [9]:
#Aritmatika Dasar
(2 + 6) * (7 + 3)

80

## Penempatan Variabel

In [10]:
#Penempatan Variabel menggunakan string, tidak bisa menggunakan angka atau special Characters
nama_variabel = 2

In [11]:
x = 3
y = 6

In [12]:
z = x + y

In [13]:
z

9

## Strings

In [17]:
#Penggunaan abjad dalam pemrograman
#Menggunakan '' satu petik
'Satu petik'

'Satu petik'

In [18]:
#Menggunakan " " dua petik
"Dua Petik"

'Dua Petik'

In [19]:
#Menggunakan satu petik dalam kalimat
" it's mine, don't you dare"

" it's mine, don't you dare"

## Melakukan Penyetakan (Printing)

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
angka = 20
nama = 'Budi'

In [26]:
#Melakukan printing dengan define {}
print('Angka saya adalah: {satu}, dan nama saya adalah: {dua}'.format(satu=angka,dua=nama))

Angka saya adalah: 20, dan nama saya adalah: Budi

In [27]:
#Melakukan printing tanpa define {}
print('Angka saya adalah: {}, dan nama saya adalah: {}'.format(angka,nama))

Angka saya adalah: 20, dan nama saya adalah: Budi

## Lists

Lists adalah struktur data pada python yang mampu menyimpan lebih dari satu data, seperti array

In [29]:
#Contoh List
[1,2,3]

[1, 2, 3]

In [30]:
#Contoh list dalam list
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [31]:
#Melakukan define list
list_ku = ['a','b','c']

In [32]:
#Menambahkan list dengan append
list_ku.append('d')

In [33]:
list_ku

['a', 'b', 'c', 'd']

In [35]:
#Memanggil list berdasarkan posisi
#posisi python dimulai dari 0 hingga seterusnya
list_ku[0]

'a'

In [36]:
list_ku[1]

'b'

In [40]:
#Memanggil list dimulai dengan posisi yang diinginkan
#Memanggil dengan format dibawah untuk memulai posisi angka dan seterusnya kebelakang
list_ku[1:]

['b', 'c', 'd']

In [39]:
#Memanggil dengan format dibawah untuk memulai posisi angka dan seterusnya kedepan
list_ku[:2]

['a', 'b']

In [41]:
#Mengganti data didalam list sesuai dengan posisi
list_ku[0] = 'BARU'

In [42]:
list_ku

['BARU', 'b', 'c', 'd']

In [43]:
#Memanggil data list didalam list
nest = [1,2,3,[4,5,['target']]]

In [44]:
#Pertama tentukan posisi [4,5,['target']]]
nest[3]

[4, 5, ['target']]

In [45]:
#Kedua tentukan posisi ['target']
nest[3][2]

['target']

In [46]:
#Ketiga print ulang 'target' dengan menentukan posisinya
nest[3][2][0]

'target'

## Dictionaries

Dictionaries berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionaries kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}

In [89]:
#Membuat dictionary yang masing-masing memiliki dua keys dan dua values
d = {'key1':'item1','key2':'item2'}

In [90]:
d

{'key1': 'item1', 'key2': 'item2'}

In [91]:
#Memanggil key1
d['key1']

'item1'

## Booleans

Booleans adalah untuk menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0

In [56]:
True

True

In [55]:
False

False

In [3]:
#Penggunaan booleans, salah satunya untuk perbandingan
10>2

True

## Tuples

Tuples adalah urutan objek yang tidak berubah. Tuples adalah urutan, seperti daftar. Perbedaan utama antara tuples dan daftarnya adalah bahwa tuples tidak dapat diubah tidak seperti Lists. Tuples menggunakan tanda kurung ()

In [59]:
#Membuat Tuples
t = (1,2,3,4,5)

In [60]:
#Memanggil Tuples
t[0]

1

In [61]:
#Mencoba mengganti tuples, namun gagal
#Karena Tuples tidak dapat dirubah atau diganti
t[0] = 'BARU'

TypeError: 'tuple' object does not support item assignment

## Sets

Sets merupakan sebuah himpunan, tanpa ada index. Fungsinya seperti irisan dan gabungan. Sets menggunakan kurung kurawal {}

In [63]:
#Membuat Sets
{1,2,3,4,5,6,7}

{1, 2, 3, 4, 5, 6, 7}

In [64]:
#Mengurutkan suatu himpunan dengan Sets
{1,2,3,4,4,4,1,1,1,2,2,2,4,5,5,6,6,7,7,8,8,9,90}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 90}

## Comparison Operators (Operator Perbandingan)
Operator perbandingan (comparison operators) digunakan untuk membandingkan suatu nilai dari masing-masing data

In [68]:
#Membuat perbandingan lebih dari dan kurang dari
1 > 2

False

In [69]:
1 < 2

True

In [71]:
#Membuat perbandingan lebih dari sama dengan, kurang dari sama dengan
1 >= 1

True

In [72]:
1 <= 1

True

In [73]:
#Membuat perbandingan sama besar
1 == 1

True

In [74]:
#Membuat perbandingan dengan string
'hallo' == 'hai'

False

## Logic Operators (Operator Logika)
Operator logika digunakan untuk membuat operasi logika, seperti logika AND dan OR

In [78]:
#Membuat operasi logika and
#Jika salah satu salah, maka semua salah
(1 > 2) and (2 < 3)

False

In [79]:
#Membuat operasi logika or
#Jika salah satu salah, masih dianggap benar
(1 > 2) or (2 < 3)

True

In [80]:
#Membuat Operasi Logika lebih dari dua
(1 == 2) or (2 == 3) or (4 == 4)

True

## if, elif, else Statements

IF

Pengambilan keputusan (kondisi if) digunakan untuk mengantisipasi kondisi yang terjadi saat jalanya program dan menentukan tindakan apa yang akan diambil sesuai dengan kondisi.

Pada python ada beberapa statement/kondisi diantaranya adalah if, else dan elif Kondisi if digunakan untuk mengeksekusi kode jika kondisi bernilai benar True.

Jika kondisi bernilai salah False maka statement/kondisi if tidak akan di-eksekusi

In [1]:
#Membuat pernyataan if
#Jika syarat kondisi sesuai dengan pernyataan, maka kode akan diexecute
if 1 < 2:
    print('Hore!')

Hore!

In [2]:
#Jika syarat kondisi tidak memenuhi, maka kode akan gagal di execute
if 1 > 2:
    print('Hore!')

IF, Else

Pengambilan keputusan (kondisi if else) tidak hanya digunakan untuk menentukan tindakan apa yang akan diambil sesuai dengan kondisi, tetapi juga digunakan untuk menentukan tindakan apa yang akan diambil/dijalankan jika kondisi tidak sesuai.

Pada python ada beberapa statement/kondisi diantaranya adalah if, else dan elif Kondisi if digunakan untuk mengeksekusi kode jika kondisi bernilai benar.

Kondisi if else adalah kondisi dimana jika pernyataan benar True maka kode dalam if akan dieksekusi, tetapi jika bernilai salah False maka akan mengeksekusi kode di dalam else.

In [4]:
#Membuat pernyataan dengan if dan else
#Jika statement memenuhi maka kondisi if akan diexecute
if 1 < 2:
    print('pertama')
else:
    print('terakhir')

pertama

In [6]:
#Jika statement tidak memenuhi maka kondisi else yang akan diexecute
if 1 > 2:
    print('pertama')
else:
    print('terakhir')

terakhir

IF, Else, dan Elif

Pengambilan keputusan (kondisi if elif) merupakan lanjutan/percabangan logika dari “kondisi if”. Dengan elif kita bisa membuat kode program yang akan menyeleksi beberapa kemungkinan yang bisa terjadi. Hampir sama dengan kondisi “else”, bedanya kondisi “elif” bisa banyak dan tidak hanya satu.

In [8]:
#Membuat pernyataan dengan if, else, dan elif
#Dengan elif maka dapat membuat beberapa kemungkinan pernyataan
if 1 == 2:
    print('Pertama')
elif 3 == 3:
    print('Tengah')
else:
    print('Terakhir')
#Karena pernyataan if gagal diexecute, maka yang memenuhi kondisi adalah pernyataan elif

Tengah

## for Loops

Pengulangan for Loops memiliki kemampuan untuk mengulangi item dari urutan apapun, seperti list atau string.

In [16]:
#Membuat list sederhana
urut = [1,2,3,4,5]

In [17]:
#Mengurutkan atau mengulagi List dengan for Loops
for angka in urut:
    print (angka)

1
2
3
4
5

In [18]:
#Melakukan printing sesuai dengan jumlah angka
for angka in urut:
    print('Asik')

Asik
Asik
Asik
Asik
Asik

In [19]:
#Melakukan penjumlahan dalam urutan
for tambahin in urut:
    print(tambahin+tambahin)

2
4
6
8
10

## while Loops

Pengulangan While Loop untuk mengeksesusi statement berkali-kali selama kondisi bernilai benar atau True.

In [22]:
#Mengeksekusi statement berulang selama masih dalam keadaan True
i = 1
while i < 6:
    print('Saya ingin berhitung : {}'.format(i))
    i = i + 1
#Karena terus mengeksekusi berulang, maka kondisi harus di stop hingga kondisi tertentu

Saya ingin berhitung : 1
Saya ingin berhitung : 2
Saya ingin berhitung : 3
Saya ingin berhitung : 4
Saya ingin berhitung : 5

## range()

Fungsi range() merupakan fungsi yang menghasilkan list. Fungsi ini akan menciptakan sebuah list baru dengan rentang nilai tertentu.

In [23]:
#Membuat list dengan rentang nilai
range(10)

range(0, 10)

In [24]:
#Membuktikan bahwa isi dari range adalah deret bilangan
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
#Fungsi ini akan menciptakan list dengan rentang nilai
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## list Comprehension

Fitur list comprehension menyediakan cara untuk menulis loop for lebih jelas. Fitur ini berguna ketika membuat list baru dari list yang sudah ada atau dari iterable. Contohnya, bisa menggunakan list comprehension untuk membuat list berisi nilai kuadrat dari list berisi angka. Begitu pula bisa menggunakan kondisi yang sama pada sebuah list berisi angka sedemikian sehingga list yang baru dibuat adalah subset dari list yang asli.

In [32]:
#Membuat list sederhana, sebagai contoh comprehension
deret = [1,2,3,4,5]

In [34]:
#Membuat for biasa untuk list kuadrat
buat = []
for angka in deret:
    buat.append(angka**2)
print(buat)

[1, 4, 9, 16, 25]

In [35]:
#Dengan list comprehension maka statement akan dapat lebih jelas dan singkat
[angka**2 for angka in deret]

[1, 4, 9, 16, 25]

## functions

Dengan functions, sederhananya dapat memecah program besar menjadi sub program yang lebih sederhana. Kemudian jika membutuhkan fitur tersebut hanya perlu memanggilnya.

In [40]:
#Membuat function sederhana 
def fungsiku(parameter1 = 'Hello, ini fungsi milik saya!'):
    print(parameter1)

In [41]:
#Melakukan pemanggilan function harus dengan ()
fungsiku()

Hello, ini fungsi milik saya!

In [44]:
#Isi function juga dapat dirubah, tetapi tidak bersifat permanen
fungsiku('Ini fungsi yang baru')

Ini fungsi yang baru

In [47]:
#Mengganti isi fungsi dengan cara mengganti parameternya
fungsiku(parameter1='Ini fungsi yang baru lagi')

Ini fungsi yang baru lagi

In [49]:
#Membuat fungsi program aritmatik menjadi lebih sederhana
def pangkat(x):
    return x**2

In [52]:
hasilnya = pangkat(5)
print (hasilnya)

25

## lambda expressions

Salah satu fitur yang cukup berguna adalah fungsi anonim. Dikatakan fungsi anonim karena fungsi ini tidak diberikan nama pada saat didefinisikan.

Pada fungsi biasa kita menggunakan kata kunci def untuk membuatnya, sedangkan fungsi anonim ini kita menggunakan kata kunci lambda. Oleh karena itu, fungsi anonim ini dikenal juga dengan fungsi lambda.

In [66]:
#Contoh fungsi sederhana
def dikali2(angka):
    return angka*2

In [67]:
dikali2(3)

6

In [68]:
#Dengan lambda expression maka
hasilkali2 = lambda angka: angka*2
print(hasilkali2(3))

6

## map and filter

Salah satu hal yang dapat dilakukan adalah memanipulasi isi list tanpa harus menggunakan perulangan. Hal tersebut dilakukan untuk efektifitas dalam penulisan kode.

Di Python ada built-in function yang bernama map(), reduce(), dan filter() yang dapat diterapkan terhadap suatu list yang akan diubah.

In [69]:
deret = [1,2,3,4,5]

In [71]:
#dengan memanggil fungsi yang dibuat
def dikali2(angka):
    return angka*2

In [75]:
#Dapat langsung melakukan hitungan aritmatika dalam list berdasarkan fungsi yang dibuat
list(map(dikali2,deret))

[2, 4, 6, 8, 10]

In [76]:
#map() menggunakan fungsi lambda
list(map(lambda angka:angka*2,deret))

[2, 4, 6, 8, 10]

In [78]:
#filter() list menggunakan lambda, filter bilangan yang dapat di bagi 2
list(filter(lambda angka:angka%2,deret))

[1, 3, 5]

## Methods

Methods adalah fitur untuk memanipulasi isi data

In [79]:
#Untuk memanipulasi strings
kalimat = 'Nama saya adalah Tono'

In [80]:
#Membuat semua strings menjadi lowercase
kalimat.lower()

'nama saya adalah tono'

In [81]:
#Membuat semua strings menjadi uppercase
kalimat.upper()

'NAMA SAYA ADALAH TONO'

In [82]:
#Mengubah string menjadi list
kalimat.split()

['Nama', 'saya', 'adalah', 'Tono']

In [83]:
#Mengubah string menjadi list dengan batasan special character
tweet = ' Tendangan LDR!! #Jebret'

In [84]:
tweet.split('#')

[' Tendangan LDR!! ', 'Jebret']

In [85]:
#Mengubah string menjadi list dan memanggil strings berdasarkan posisi 
#dengan batasan special character
tweet.split('#')[1]

'Jebret'

In [92]:
#Memisakan dictionary antara keys dan items
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
#Memisahkan keys
d.keys()

dict_keys(['key1', 'key2'])

In [94]:
#Memisahkan items
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [96]:
#Menghapus nilai belakang dalam list, bersifat permanen
variabel = [1,2,3,4,5]
variabel.pop()

5

In [97]:
#Sehingga angka belakang terhapus
variabel

[1, 2, 3, 4]

In [98]:
#Mengetahui keberadaan data dalam list
'x' in [1,2,3,4,5]
#Jika False berarti tidak ada

False

In [100]:
#Jika ada maka bernilai True
'x' in ['o','q','r','s','t','u','v','w','x','y','z']

True

# Selesai untuk dasar pengenalan Python!